<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="ConsumerKey" value="ghq3Q28cVf8bR9gwJScnpdhpM" />
    <add key="ConsumerKeySecret" value="bSMw80EA51z3ql6u5tJ5rW9EKnZLuThOCf9H8pTqNSVwV5DDId" />
    <add key="AccessToken" value="967809339284127744-Ouo4cIvse2OIYd30fluxh02J6Wof3tq" />
    <add key="AccessTokenSecret" value="zDEKTSZZN2px0N9GqZJJOsweXOHZ214NRUm5dzXF3Bw5W" />
  </appSettings>
</configuration>